@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root{
    --white: #Fff;
    --azul1: #287f88;
    --azul2: #001627;
}

a{
    color: white;
    font-weight: bolder;
}

body{
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    background-color: var(--azul2);
}

nav{
    display: flex;
    background-color: #287f88;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li{
    margin: 0px 20px;
}

.imglogoheader{
    width:60px;
}

.header, .navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: var(--azul1);
    box-shadow: 1px 1px 4px var(--azul2);
    height: 5.5rem;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header{
    gap: 1.5em
}

.navigation_header a{
    text-decoration: none;
    color: var(--white);
    transition: 1s;
    font-weight: bold;
    transition: 0.5s;
}

.navigation_header a:hover
{
    background: var(--azul2);
    opacity: 0.8;
}

.active{
    background-color: var(--azul2);
    padding: 10px;
}

.content{
    text-align: center;
    height: 100vh;
    transition: 1s;
}

.btn_icon_header{
    background-color: transparent;
    border: none;
    color: var(--white);
    cursor: pointer;
    display: none;
}
header{
    background-image: url(../img/background_front_dark.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 65px 0px;
}

h1{
    margin: 0 auto;
    padding: 0 auto;
    width: 50%;
    font-size: 75px;
    color: #287f88;
    text-align: center;
    height: 100%;
    transition: 1.5s;
}

h2{
    margin: 0 auto;
    padding: 0 auto;
    font-size: 50px;
}

h3{
    margin: 0 auto;
    padding: 0 auto;
    font-size: 50px;
}

h4{
    margin: 0 auto;
    padding: 0 auto;
    margin-left: 5%;
    width: 30%;
    font-size: 100px;
    color: #287f88;
    border-bottom: 10px solid #287f88;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #287f88;
    color: white;
    padding: 30px 0px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

#iconLogo{
    max-width: 100px;
}

#sobreArt{
    background-image: url(../img/background_front_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

#sobreNos{
    padding: 30PX;
    background-color: #287f88;
    width: 25%;
    margin-left: 5%;
    border-bottom: 5px solid black;
}

#servicos{
    background-image: url(../img/background_front_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

#listServicos{
    margin: 0 auto;
    background-color: #287f88;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    padding: 30PX;
    border-bottom: 5px solid black;
}

#midBottom{
    margin: 50px 0px;
    align-self: center;
    background-color: #287f88;
    color: black;
}

#equipe{
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: space-around;
}

#equipe2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#equipe3{
    margin: 50px 5%;
}

#valorTitle{
    margin-left: 10%;
    color: white;
    width: 500px;
}

#mainValor{
    display: flex;
    flex-direction: column;
}

#sobreMain{
    display: flex;
    align-items: center;
    margin: 50px 50px;
    background-image: url(../img/background_front_1.png);
}

#sobreImg{
    height: 450px;
    width: 700px;
}

#sobreText{
    padding: 30PX;
    background-color: #287f88;
    height: 100%;
    width: 40%;
}

#sobreHeader{
    background-image: url(../img/background_front_dark.png);
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

#sobreLista{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#sobre

.listBig{
    font-size: 50px;
}

.listSepara{
    margin: 0px 0px;
    padding: 0 auto;
    font-size: 80px;
}

.barber{
    background-color: #287f88;
    border-top: #287f88 solid 5px;
}

.barber2{
    background-color: #287f88;
    display: flex;
    margin: 30px 0;
}

.icon{
    margin: 10px 10px 0 ;
    width: 50px;
    height: auto;
}

.textBox{
    font-size: 20px;
    height: 100%;
    margin-bottom: 30px;
}

.bottom{
    padding: 15px 30px;
    background-color: #001627;
}

.barberPhoto{
    width: 400px;
}

.barberText{
    margin: 20px 80px;
}

.valores{
    border-top: #287f88 solid 5px;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    color: white;
}

@media screen and (max-width: 768px){
    .btn_icon_header{
        display: block;
    }
    .navigation_header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--dark5);    
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
}
@keyframes showSidebar {
    from{margin-left: -100vw;}
    top{margin-left: -10vw;}

}
}
    