@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root{
    --white: #Fff;
    --azul1: #287f88;
    --azul2: #001627;
}

a{
    color: white;
    font-weight: bolder;
}

body{
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    background-color: var(--azul2);
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li{
    margin: 0px 20px;
}

.imglogoheader{
    width:60px;
}

.header, .navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: var(--azul1);
    box-shadow: 1px 1px 4px var(--azul2);
    height: 5.5rem;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header{
    gap: 1.5em
}

.navigation_header a{
    text-decoration: none;
    color: var(--white);
    transition: 1s;
    font-weight: bold;
    transition: 0.5s;
}

.navigation_header a:hover
{
    background: var(--azul2);
    opacity: 0.8;
    padding: 10px 15px;
}

.active{
    background-color: var(--azul2);
    padding: 10px;
}

.content{
    text-align: center;
    height: 100vh;
    transition: 1s;
}

.btn_icon_header{
    background-color: transparent;
    border: none;
    color: var(--white);
    cursor: pointer;
    display: none;
}
header{
    background-image: url(../img/background_front_dark.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 65px 0px;
}

h1{
    margin: 0 auto;
    padding: 0 auto;
    width: 90%;
    font-size: 60px;
    color: white;
    text-shadow: 5px 5px 5px #001627;
    text-align: center;
    height: 100%;
    transition: 1.5s;
}

h2{
    margin: 0 auto;
    padding: 0 auto;
    font-size: 50px;
}

h3{
    margin: 0 auto;
    padding: 0 auto;
    font-size: 30px;
    margin-bottom: 20px;
}

h4{
    margin: 0 auto;
    padding: 0 auto;
    margin-left: 5%;
    width: 50%;
    font-size: 100px;
    color: #287f88; 
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #287f88;
    color: white;
    padding: 30px 0px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

#iconLogo{
    max-width: 100px;
}

#sobreArt{
    background-image: url(../img/barbearia1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
}

#sobreArt img{
    width: 0%;
}

#sobreNos{
    padding: 30PX;
    background-color: #287f88;
    width: 35%;
    margin-left: 5%;
    border-bottom: 5px solid black;
}

#servicos{
    background-image: url(../img/barbearia2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
}

#servicos img{
    width: 0%;
}

#listServicos{
    margin: 0 auto;
    background-color: #287f88;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    padding: 30PX;
    border-bottom: 5px solid black;
}

#midBottom{
    margin: 50px 0px;
    align-self: center;
    background-color: #287f88;
    color: black;
}

#equipe{
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: center;
}

#equipe2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#equipe3{
    margin: 50px 5%;
}

#valorTitle{
    margin-left: 10%;
    color: white;
    width: 500px;
}

#mainValor{
    display: flex;
    flex-direction: column;
}

#sobreMain{
    display: flex;
    align-items: center;
    margin: 50px 50px;
    background-image: url(../img/barbearia3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

#sobreMain2{
    display: flex;
    align-items: center;
    margin: 50px 50px;
    background-image: url(../img/barbearia4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

#sobreMain2 img{
    width: 0px;
}

#sobreMain img{
    width: 0px;
}

#sobreImg{
    height: 450px;
    width: 700px;
}

#sobreText{
    padding: 30PX;
    background-color: #287f88;
    height: 100%;
    width: 40%;
}

#sobreHeader{
    background-image: url(../img/background_front_dark.png);
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

#sobreLista{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#lastHeader{
    margin-top: 20px;
    width: 100%;
}

.listBig{
    font-size: 50px;
}

.listSepara{
    margin: -20px 0px;
    padding: 0 auto;
    font-size: 80px;
    font-weight: bold;
}

.listHeader{
    margin: 0px 0px;
    padding: 0 auto;
    font-size: 60px;
    font-weight: bold;
}

.barber{
    background-color: #287f88;
    border-top: #287f88 solid 5px;
}

.barber2{
    background-color: #287f88;
    display: flex;
    margin: 30px 20%;
    justify-content: center;
}

.icon{
    margin: 10px 10px 0 ;
    width: 50px;
    height: auto;
}

.textBox{
    font-size: 20px;
    margin-bottom: 30px;
}

.bottom{
    padding: 15px 30px;
    background-color: #001627;
    text-decoration: none;
    color: var(--white);
    transition: 1s;
    font-weight: bold;
    transition: 0.5s;
}

.bottom:hover{
    background: var(--azul2);
    opacity: 0.8;
}

.barberPhoto{
    width: 250px;
    height: 100%;
}

.barberText{
    margin: 20px 30px;
}

.valores{
    border-top: #287f88 solid 5px;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    color: white;
}

.telFooter{
    margin-top: 15px;
    font-weight: bold;
}

.hourFooter{
    margin-bottom: 15px;
    font-weight: bold;
}

.divFooter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerSepara{
    margin: 0px 10px;
}

.barberCell{
    width: 400px;
    height: 600px;
}

@media screen and (max-width: 768px){ 
    h1{
        font-size: 45px;
    }

    h3{
        font-size: 40px;
    }

    footer{
        flex-wrap: wrap;
        flex-direction: column;
    }

    #sobreArt{
        background-attachment: local;
        background-size: 130%;
    }

    #sobreNos{
        margin: 0 auto;
        width: 100%;
    }

    #servicos{
        background-attachment: local;
    }

    #listServicos{
        margin: 0 auto;
        max-width: 60%;
    }

    #sobreMain{
        background-image: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #sobreMain img{
        width: 700px;
    }

    #sobreMain2{
        background-image: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #sobreMain2 img{
        width: 700px;
    }

    #sobreText{
        width: 100%;
    }

    .barber2{
        display: flex;
        flex-direction: column;
    }

    .barber2 img{
        width: 700px;
    }

    .barberCell{
        height: 400px;
    }

}

@media screen and (max-width: 425px){
    body{
        margin: 0 0;
        font-size: 10px;
    }

    h1{
        transition: none;
        font-size: 25px;
    }

    h3{
        font-size: 3em;
        margin-bottom: 5px;
    }

    h4{
        border-bottom: none;
        font-size: 50px;
    }

    footer{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .barber p{
        font-size: 20px;
    }

    .barber img{
        max-width: 200px;
    }

    .barber{
        display: flex;
        border-top: none;
    }

    .barber2{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .barber2 img{
        width: 425px;
    }

    #sobreMain{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-image: none;
    }

    #sobreMain img{
        width: 100%;
        width: 425px;
    }

    #sobreMain2{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-image: none;
    }

    #sobreMain2 img{
        width: 100%;
        width: 425px;
    }

    #sobreText{
        width: 100%;
    }

    #sobreArt{
        margin: 0 auto;
        background-image: none;
        flex-direction: column;
    }

    #sobreArt img{
        width: 425px;
    }

    #servicos{
        margin: 0 auto;
        background-image: none;
        flex-direction: column;
    }

    #servicos img{
        width: 425px;
    }

    #listServicos{
        margin: 0 auto;
        max-width: 100%;
    }

    #equipe{
        width: 100%;
        margin-left: 0;
        flex-direction: column;
    }

    #valorTitle{
        width: 90%;
    }

    #midBottom{
        margin: 10px 0;
    }

    #sobreNos{
        margin: 0 auto;
        width: 100%;
    }

    .bottom{
        padding: 10px 15px;
        font-size: 15px;
    }

    .barberCell{
        height: 300px;
        margin-right: 15px;
    }

    .listSepara{
        border-bottom: none;
        font-size: 6em;
    }
}

@media screen and (max-width: 320px){
    h3{
        font-size: 2em;
    }

    header{
        background-position: center;
        background-size: 100%;
    }
}
    